* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1d1d1d;
    color: white;
    font-family: "KARLA", Arial, Helvetica, sans-serif;
}

main {
    margin-top: 4rem;
}

a {
    color: aqua;
}

table {
    border-collapse: collapse;
}

td {
    border: solid white 1px;
    padding-left: 2rem;
    padding-right: 2rem;
}

th {
    border: solid white 1px;
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    align-items: center;
    background-color: #25002ce9;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}
header nav {
    margin-right: 1rem;
}

header h2 {
    margin-left: 1rem;
    font-size: 30px;
}

header ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    align-items: center;
}

header button {
    background-color: #930854;
    color: white;
    border-radius: 50px;
    border: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 20px;
}

header button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

header a:hover {
    transform: scale(1.1);
}

footer {
    background-color: #0a000ce9;
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

footer ul {
    margin-left: 4rem;
}

footer ul {
    list-style: none;
}

button {
    background-color: #930854;
    color: white;
    font-size: 30px;
    border-radius: 25px;
    border: none;
    filter: drop-shadow(0 0 0.75rem rgb(6, 6, 6));
}

#mainPicture {
    background-image: url("https://news-archive-assets.ku.edu/data/e0/08/01j8jjs19xcmdxyktf6rhbmfpx.jpg");
    filter: drop-shadow(0 0 0.25rem rgb(0, 0, 0));
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

#mainPicture h1 {
    padding-left: 20rem;
    font-size: 64px;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#mainPicture p {
    width: 45%;
    font-size: 36px;
    text-align: center;
    padding-left: 12rem;
}

#picture1 {
    background-image: url("https://images.pexels.com/photos/45170/kittens-cat-cat-puppy-rush-45170.jpeg");
    background-size: cover;
    width: 90%;
    height: 40rem;
    margin: 5rem auto;
    border-radius: 20px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 0 0.25rem rgb(255, 255, 255));
}

#picture1 h2 {
    text-align: center;
    padding-top: 3rem;
    font-size: 45px;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

#picture1 p {
    margin: 3rem auto;
    text-align: center;
    width: 75%;
    font-size: 30px;
    background-color: #2e2e2e97;
    padding: 2rem;
    border-radius: 25px;
    filter: drop-shadow(0 0 0.75rem rgb(6, 6, 6));
}

#picture1 button {
    margin-top: 3rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 20rem;
    background-color: #930854;
    color: white;
    font-size: 30px;
    border: none;
}
#picture2 {
    background-image: url("https://cdn.pixabay.com/photo/2019/09/04/13/48/team-4451672_1280.jpg");
    filter: drop-shadow(0 0 0.25rem rgb(0, 0, 0));
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#picture2 h2 {
    font-size: 45px;
}

#picture2 p {
    font-size: 25px;
}

#picture2 article {
    margin-left: 5rem;
    background-color: #2e2e2e97;
    width: 40%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 25px;
    filter: drop-shadow(0 0 0.75rem rgb(6, 6, 6));
}

#picture2 button {
    width: 10rem;
    height: 2.5rem;
    font-size: 25px;
}

#picture3 {
    background-image: url("https://www.genet-architecte.com/wp-content/uploads/2024/07/GENET_ESAPCE_HALIMI_02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

#picture3 article {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #2e2e2e97;
    padding: 2rem;
    height: 38rem;
    border-radius: 15px;
}

#mainAdoptPicture {
    background-image: url("https://media.discordapp.net/attachments/1388124417258688523/1428446389637222410/Tilly-with-her-first-child-Monty-scaled-1920x1282.png?ex=68f287de&is=68f1365e&hm=aef3576d5d3b7a914455742b31ffaef8cedec0f5ba2e47656dc48bad1062276b&=&format=webp&quality=lossless&width=1660&height=1109");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
}

#mainAdoptPicture h2 {
    font-size: 75px;
    margin-left: 5rem;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

#animalCardSection {
    width: 80%;
    margin: 5rem auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    
}

#animalCardSection img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#mainAnimalCard {
border: solid rgb(0, 0, 0) 4px;
border-radius: 15px;
}

#animalCard {
    
    background-color: #25252597;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#animalCard ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#animalCard li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#animalCard p {
    font-size: 25px;
}

#adoptAnimalPage ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#adoptAnimalPage li {
    display: flex;
    gap: 0.4rem;
}


#mainAdoptersPicture {
    background-image: url("https://media.discordapp.net/attachments/1388124417258688523/1428714754658009198/Dogs_Funny_Bulldog_Puppy_Bokeh_571468_1920x1080.png?ex=68f381cd&is=68f2304d&hm=facbaee465f38b43f15e256132fc6d698f94feb3aae45cad9e356aec4937c464&=&format=webp&quality=lossless&width=1440&height=810");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
}

#mainAdoptersPicture h2 {
    font-size: 75px;
    margin-left: 5rem;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
        1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}
